@import url("https://fonts.googleapis.com/css2?family=Comme&display=swap");

* {
  margin: 0;
  font-family: "Comme", sans-serif;
  scroll-behavior: smooth;
}

header {
  font-weight: 700;
  font-size: 1.3em;
}

#navbar {
  height: 95vh;
  width: 40vh;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 0;
  background: #f7f7f7;
  overflow-x: hidden;
  padding: 15px;
  border-radius: 10px;
  font-size: 2vh;
}

#navbar a {
  text-decoration: none;
  color: #4b4d4e;
  border-radius: 10px;
}
#navbar a:hover {
  color: #f36d33;
  background: #ffffff;
  border: solid 1px rgba(219, 219, 219, 0.6);
  border-radius: 10px;
}

.active {
  color: #f36d33 !important;
  background: #ffffff;
  border: solid 1px rgba(219, 219, 219, 0.6);
  border-radius: 10px;
}
#navbar header {
  font-weight: bold;
  font-size: 4vh;
  padding: 10px;
  text-transform: uppercase;
  color: #f36d33;
}

hr {
  margin-top: 0;
}
#main-doc {
  font-size: 1rem;
  margin: 2vh 2vh 2vh 45vh;
}

#main-doc header {
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-bottom: 1px solid #f36d33;
  border-radius: 5px;
  color: #f7f7f7;
}

#main-doc p {
  margin: 10px;
  padding: 5px;
  text-align: justify;
}

.main-section {
  margin: 10px;
}
.main-section li {
  margin: 10px;
  padding: 5px;
}
img {
  width: 100%;
  height: auto;
  padding: 0 40vh;
  margin-bottom: 10px;
}

code {
  color: #f36d33;
}
pre {
  background: #1a1d1f;
  color: #f7f7f7;
  font-size: 12px;
  border-radius: 10px;
  padding-top: 1rem;
  border-left: 3px solid #f36d33;
  page-break-inside: avoid;
}

.command {
  background: #1a1d1f;
  padding: 10px;
  border-radius: 10px;
  color: #f7f7f7;
  border-left: 3px solid #f36d33;
}

.result-background {
  background: rgba(238, 237, 237, 0.6);
  border-radius: 10px;
}

.result-background p {
  font-weight: 900;
}

.example {
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  img {
    padding: 0 0;
  }
}

@media screen and (max-width: 800px) {
  #navbar {
    width: 25vh;
    font-size: small;
  }
  #navbar header {
    font-size: medium;
  }
  #main-doc {
    margin-left: 30vh;
  }
  img {
    padding: 0 0;
  }
  #main-doc p {
    font-size: small;
    text-align: justify;
  }
  .main-section li {
    font-size: small;
  }
}
@media screen and (max-width: 500px) {
  #navbar {
    width: 15vh;
    font-size: 2.5vw;
  }
  #navbar header {
    font-size: 3vw;
  }

  #main-doc {
    margin-left: 20vh;
  }
  img {
    padding: 0 0;
  }
  .nav-link {
    margin: 5px 0;
    padding: 5px;
  }
}
